* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    outline: none;
    list-style-type: none;
    box-sizing: border-box;
    outline: none;
    ;
}
$top_padding: 10px;

body {
    max-width: 1400px;
    min-width: 320px;
    widows: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;

    .top{
        text-align: center;
        padding-left: $top_padding;
        padding-right: $top_padding;
    }
    .contaner {
        display: flex;
        max-width: 100%;;

        .con1 {
            margin: 10px;
            max-width: 660px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .img {
                max-width: 660px;
                width: 100%;
                height: 100px;
                background-image: url("../images/Untitled-1.png");
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }
        }

        .con2 {
            margin: 10px;
            max-width: 660px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .img2 {
                max-width: 660px;
                width: 100%;
                height: 100px;
                background-image: url("../images/Untitled-2.png");
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }
        }

    }
}

@media only screen and (max-width: 500px){

    .contaner {
        flex-direction: column;
        align-items: center;
    }
}